@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
  --main-color: #1E293B
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: 'Nunito', sans-serif;
}

header {
  background-color: var(--main-color);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 4px 20px;
  align-items: baseline;
}

a {
  text-decoration: none;
  color: white;
  font-size: 17.5px;
  padding: 0 10px;
}

.display-section {
  background-color: var(--main-color);
  color: white;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  padding: 30px 15px;
  height: 320px;

}

.display-image img {
  border-radius: 10px;
}

.dis-info {
  margin-top: 45px;
  line-height: 2rem;
}

input {
  width: 45%;
  border-radius: 5px;
  padding: 4px 10px;
  outline: none;
}

button {
  padding: 4px 20px;
  outline: none;
  cursor: pointer;
  border: none;
}

.button:hover {
  background-color: black;
  color: white;
}

.maincources {
  display: flex;
  gap: 20px;
  margin: 7% 0;
  color: black;
  padding: 0 20px;
  grid-template-columns: repeat(3 1fr);

}

.c-icon {
  text-align: baseline;
  margin-bottom: 10px;
}

.Function {
  display: flex;
  gap: 20px;
  margin: 7% 0;
  color: green;
  padding: 0 20px;
  grid-template-columns: repeat(3 1fr);



}